---
import MainContentLayout from "../../layouts/MainContentLayout.astro";
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<MainContentLayout>
<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      <small> — {post.data.pubDate}</small>
    </li>
  ))}
</ul>
</MainContentLayout>
