@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    color: #eaeaea;
    background-color: #1b1b1b;
}

.visible {
    transition: 1s;
}

.hidden {
    width: 50px;
}

.custom-font {
    font-family: Tahoma;
}