---
import NavItem from "./ui/NavItem.astro"
---

<div id="navlinks" class="w-full list-none flex flex-row md:flex-col justify-evenly gap-1 md:gap-2">
    <NavItem link="/" name="Home" icon="/icons/home-icon.svg" />
    <NavItem link="/about/" name="About" icon="/icons/profile-icon.svg" />
    <NavItem link="/blog/" name="Blog" icon="/icons/box-icon.svg" />
    <NavItem link="/contact/" name="Contact" icon="/icons/mail-icon.svg" />
</div>