<div id="navlinks" class="list-none flex flex-col gap-2">
    <li class="shadow-md hover:scale-105 hover:shadow-lg hover:bg-[#f7f7f7] transition-all duration-200">
        <a href="" class="p-3 flex gap-5">
            <span>
                <img class="w-[20px] h-[20px]" src="/src/assets/icons/home-icon.svg" alt="">
            </span>
            Home
        </a>
    </li>
    <li class="shadow-md hover:scale-105 hover:shadow-lg hover:bg-[#f7f7f7] transition-all duration-200">
        <a href="" class="p-3 flex gap-5">
            <span>
                <img class="w-[20px] h-[20px]" src="/src/assets/icons/profile-icon.svg" alt="">
            </span>
            About
        </a>
    </li>
    <li class="shadow-md hover:scale-105 hover:shadow-lg hover:bg-[#f7f7f7] transition-all duration-200">
        <a href="" class="p-3 flex gap-5">
            <span>
                <img class="w-[20px] h-[20px]" src="/src/assets/icons/box-icon.svg" alt="">
            </span>
            Blog
        </a>
    </li>
    <li class="shadow-md hover:scale-105 hover:shadow-lg hover:bg-[#f7f7f7] transition-all duration-200">
        <a href="" class="p-3 flex gap-5">
            <span>
                <img class="w-[20px] h-[20px]" src="/src/assets/icons/mail-icon.svg" alt="">
            </span>
            Contact
        </a>
    </li>
</div>