---
import Avatar from "./ui/Avatar.astro"
import Navigation from "./Navigation.astro"
---


<div class="p-5 bg-[#101010] border-r-[2px] border-r-[#aaa] shadow-2xl flex flex-col gap-10">
    <Avatar />
    <Navigation />
</div>