---
import SidebarLeft from "../components/SidebarLeft.astro"
import SidebarRight from "../components/SidebarRight.astro"
import "../styles/global.css"
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/custom-avatar.jpg" type="image/x-icon">
    <title>Vivek@CshardZ@Github</title>
</head>
<body>
    <div id="root" class="h-screen w-screen max-h-screen max-w-screen overflow-hidden flex flex-col md:flex-row">
        <SidebarLeft />
         <!-- For Main Content -->
         <div class="custom-scrollbar-hide px-6 md:px-8 py-6 overflow-y-auto flex-1">
            <slot />
        </div>
        <SidebarRight />
    </div>
</body>
</html>