---
import SidebarLeft from "../components/SidebarLeft.astro"
import SidebarRight from "../components/SidebarRight.astro"
import "../styles/global.css"
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/assets/images/custom-avatar.jpg" type="image/x-icon">
    <title>Vivek@CshardZ@Github</title>
</head>
<body>
    <div id="root" class="h-screen w-screen max-h-screen max-w-screen flex flex-row">
        <SidebarLeft />
         <! -- For Main Content -->
         <slot />
        <SidebarRight />
    </div>
</body>
</html>