---
import MainContentLayout from "./MainContentLayout.astro"
import SidebarLeft from "../components/SidebarLeft.astro"
import SidebarRight from "../components/SidebarRight.astro"
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site-Layout</title>
    <link href="/src/styles/global.css" rel="stylesheet">
</head>
<body>
    <div id="root">
        <SidebarLeft />
        <MainContentLayout />
        <SidebarRight />
    </div>
</body>
</html>