---
import SidebarLeft from "../components/SidebarLeft.astro"
import SidebarRight from "../components/SidebarRight.astro"
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site-Layout</title>
    <link href="/src/styles/global.css" rel="stylesheet">
    <script src="/src/scripts/global.js"></script>
</head>
<body>
    <div id="root" class="h-screen w-screen max-h-screen max-w-screen flex flex-row">
        <SidebarLeft />
         <! -- For Main Content -->
         <slot />
        <SidebarRight />
    </div>
</body>
</html>