<div id="avatar" class="w-[100%] h-[200px] overflow-hidden flex justify-center items-center">
    <img class="w-[180px] h-[180px] rounded-full hover:scale-110 transition-transform duration-200" src="src/assets/images/custom-avatar.jpg" alt="">
</div>