<div id="avatar" class="hidden md:block w-[90%] h-[190px] overflow-hidden flex justify-center items-center rounded-full">
    <img class="w-[100%] h-[100%] hover:scale-110 transition-transform duration-200" src="/images/custom-avatar.jpg" alt="">
</div>