---
const isActive = Astro.props.link === '/' ? Astro.url.pathname === '/' : Astro.url.pathname.startsWith(Astro.props.link);
---

<li class={`md:rounded-md w-full
    ${isActive ? 'bg-[#202020] text-white shadow-lg font-semibold' : 'bg-[#1a1a1a] text-gray-400 hover:bg-[#303030] hover:shadow-lg'}`}>
    <a href={Astro.props.link} class="px-2 py-2 md:p-3 flex justify-center md:justify-start md:gap-5 tracking-wide">
        <span>
            <img class="md:w-[20px] md:h-[20px]" src={Astro.props.icon} alt="">
        </span>
        {Astro.props.name}
    </a>
</li>